<button>送信</button>
<div id="image_select"></div>


<script>
var user = <%= @user.to_json.html_safe %>;　
// var user_id = "<%= @user.id %>%";文字列で渡すとカラムごとに変数定義しなくちゃなのでめんどい
</script>
<%= javascript_pack_tag 'users/image_select' %>



<%# binding.pry %>
