<button>送信</button>


<script>
var user = "<%= @user.to_json %>";　// 理想はrubyのインスタンス変数をjsonに変換して、javascriptの変数に格納 => vueのファイルでも読み込める！

// var user_id = "<%= @user.id %>%";文字列で渡すとカラムごとに変数定義しなくちゃなのでめんどい
</script>

<div id="image_select"></div>
<%= javascript_pack_tag 'users/image_select' %>

<%# binding.pry %>
